article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensans.woff2"), url("../../fonts/opensans.woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensansbold.woff2"), url("../../fonts/opensansbold.woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensanslight.woff2"), url("../../fonts/opensanslight.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensans-semibold.woff2"), url("../../fonts/opensans-semibold.woff");
  font-weight: 600;
  font-style: normal; }

body {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 500;
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); }
  @media (min-width: 992px) {
    body {
      min-width: 970px; } }
  @media (min-width: 1280px) {
    body {
      max-width: 1280px; } }

img {
  max-width: 100%;
  height: auto;
  border: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center;
  color: #000;
  line-height: 1.2;
  font-weight: 600; }

.section__title {
  font-size: 48px; }
  .section__title span {
    width: auto;
    position: relative;
    padding-left: 65px;
    padding-right: 65px; }
    .section__title span:before {
      content: '';
      display: block;
      position: absolute;
      width: 60px;
      height: 30px;
      background-image: url(../img/morebutton.svg);
      background-repeat: no-repeat;
      background-position: center;
      left: 0;
      bottom: 12px; }
    .section__title span:after {
      content: '';
      display: block;
      position: absolute;
      width: 60px;
      height: 30px;
      background-image: url(../img/morebutton.svg);
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
      bottom: 12px; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.intro {
  min-height: 600px; }

.intro__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  background-color: #f8f9fb;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px; }

.intro__title {
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  text-align: left;
  font-weight: 900; }

.intro__phone {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: right;
  -ms-flex-align: center;
      align-items: center; }

.intro__phone-text {
  font-size: 16px;
  font-weight: 600;
  color: #a7a8aa;
  text-align: right; }

.intro__phone-number {
  font-size: 34px;
  font-weight: 600;
  padding-left: 45px;
  position: relative; }
  .intro__phone-number:before {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 8px;
    background-image: url(../img/mobilephone.svg);
    background-repeat: no-repeat;
    background-position: center; }

.intro__text {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 1.2;
  color: #a7a8aa; }

.intro__bottom {
  position: relative;
  padding-top: 80px;
  background-color: #364c75;
  background-image: url(../img/bg-intro.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 2px solid #a7a8aa;
  border-bottom: 2px solid #a7a8aa; }

.intro__offer {
  padding-left: 15px;
  padding-right: 15px; }

.intro__offer-content {
  display: block;
  padding: 20px;
  width: 620px;
  margin-bottom: 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fdfbe4;
  box-sizing: border-box; }

.offer-text {
  margin: 0;
  display: block;
  font-size: 44px;
  line-height: 1.05;
  margin-bottom: 15px; }

.offer-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 15px; }

.offer-item {
  position: relative;
  padding-left: 25px;
  font-size: 26px;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 10px; }
  .offer-item:last-child {
    margin-bottom: 0; }
  .offer-item:before {
    position: absolute;
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/check.svg);
    left: 0;
    top: 6px; }

.intro__form {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 25px;
  padding-top: 25px; }

.form-content {
  padding-left: 15px;
  padding-right: 15px; }

.form-text {
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  color: #fdfbe4; }

.contact-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.form-input-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 70%; }

.form-control-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-right: 10px; }

label {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 3px;
  color: #fff; }

.form-control-phone,
.form-control-email {
  position: relative;
  display: block; }
  .form-control-phone:after,
  .form-control-email:after {
    content: '';
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(../img/question.svg);
    background-repeat: no-repeat;
    top: 50%;
    margin-top: -9px;
    right: 10px;
    cursor: pointer; }

.form-control {
  padding: 8px 16px;
  padding-right: 26px;
  border: 2px solid #a7a8aa;
  background-color: #fff;
  width: 100%;
  display: block;
  border-radius: 3px;
  font-size: 24px;
  color: #000;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box; }

.form-control-agreement-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding-bottom: 15px;
  margin: 0 auto; }

.agreement-checkbox {
  margin-right: 15px;
  margin-top: 7px;
  width: 15px;
  height: 15px; }

.agreement-link {
  font-size: 16px;
  color: #fdfbe4;
  font-weight: 400; }

.form-control-btn {
  width: 100%;
  display: -ms-flexbox;
  display: flex; }

.contact-form__btn {
  padding: 10px 5px;
  padding-top: 12px;
  padding-bottom: 11px;
  width: 100%;
  background: #de504f;
  border-radius: 3px;
  color: #fdfbe4;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  border: 0px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box; }
  .contact-form__btn:hover {
    background: #a8201f; }

.benefits {
  background-color: #f8f9fb;
  border-bottom: 2px solid #f6f6f6; }

.section__inner {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 45px;
  padding-bottom: 10px; }

.section__title--benefits {
  margin-bottom: 40px; }

.benefits__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0; }

.benefit {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  width: 50%;
  min-height: 130px;
  margin-bottom: 15px;
  padding-left: 100px;
  padding-right: 45px;
  position: relative;
  box-sizing: border-box; }
  .benefit:before {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    left: 0; }

.benefit--low-price:before {
  background-image: url(../img/numberone.svg); }

.benefit--time:before {
  background-image: url(../img/security-shield.svg); }

.benefit--assortment:before {
  background-image: url(../img/openbox.svg); }

.benefit--big-case:before {
  background-image: url(../img/case.svg); }

.benefit--project:before {
  background-image: url(../img/tools.svg); }

.benefit--equipment:before {
  background-image: url(../img/puzzle.svg); }

.benefit__title {
  text-align: left;
  font-size: 26px;
  margin-bottom: 10px; }

.benefit__text {
  margin: 0;
  color: #a3a4a6;
  font-weight: 600;
  font-size: 20px; }

.section__inner--price {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0; }

.section__title--price {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
  background-color: #f8f9fb;
  border-bottom: 2px solid #f6f6f6; }

.price__title {
  padding: 15px;
  text-align: left;
  font-weight: 600;
  font-size: 30px;
  border-bottom: 2px solid #f6f6f6; }

.price__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.price__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 15px;
  border-bottom: 2px solid #f6f6f6;
  box-sizing: border-box; }

.item-img {
  display: block;
  width: 140px;
  height: 140px; }

.item-title {
  text-align: left;
  margin-bottom: 15px; }

.item-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.item-disc {
  padding-left: 10px;
  padding-right: 10px; }

.item-link {
  text-align: left;
  color: #3279ad;
  font-size: 22px;
  font-weight: 600; }

.item-text {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #a3a4a6; }

.item-price {
  width: 100%;
  max-width: 200px;
  margin-left: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: #f2f2f2; }

.price-text {
  padding-bottom: 10px;
  color: #de504f;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.1;
  border-bottom: 2px solid #eaeceb; }

.amount-img {
  width: 32px; }

.item-amount {
  color: #a3a4a6; }

.amount-info {
  text-align: center; }

.form-price {
  background-color: #f8f9fb;
  border-bottom: 2px solid #f0f1f3; }
  .form-price .form-content {
    margin-bottom: 40px;
    background-color: #fdfbe4;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid #f0f1f3; }
  .form-price label {
    color: #000; }
  .form-price .agreement-link {
    color: #000; }
  .form-price .form-control-area {
    width: 50%; }
  .form-price .contact-form__btn {
    color: #fdfbe4; }

.form-text--price {
  color: #000;
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 600;
  text-align: center; }

.contact {
  background-color: #0A1525;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #3C3A3A; }

.contact__inner {
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 80px; }
  @media (min-width: 992px) {
    .contact__inner {
      min-width: 970px; } }
  @media (min-width: 1280px) {
    .contact__inner {
      max-width: 1280px; } }

.contact__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  padding-left: 40px;
  padding-right: 40px; }

.contact__title {
  color: #fff;
  font-size: 38px;
  margin: 0;
  margin-bottom: 50px; }

.contact__info {
  width: 35%; }

.email-text {
  color: #fff; }

.page-footer {
  background-color: #0A1525; }

.page-footer__inner {
  min-width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px; }
  @media (min-width: 992px) {
    .page-footer__inner {
      min-width: 970px; } }
  @media (min-width: 1280px) {
    .page-footer__inner {
      max-width: 1280px; } }

.copyright__text {
  text-align: center;
  color: #fff; }

@media (min-width: 1200px) {
  .form-control-agreement-1 {
    display: none; }
  .form-control-agreement-2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
  .intro__phone-text {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .btn-wrap {
    display: -ms-flexbox;
    display: flex;
    width: 30%; }
  .form-control-btn {
    -ms-flex-item-align: end;
        align-self: flex-end; } }

@media (max-width: 1200px) {
  .form-control-agreement-1 {
    display: none; }
  .form-control-agreement-2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
  .intro__phone-text {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .btn-wrap {
    display: -ms-flexbox;
    display: flex;
    width: 30%; }
  .form-control-btn {
    -ms-flex-item-align: end;
        align-self: flex-end; } }

@media (max-width: 992px) {
  .intro__phone-number {
    width: auto; }
  .contact-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .form-input-area {
    width: 100%;
    margin-bottom: 5px; }
  .form-control-area:last-child {
    margin-right: 0; }
  .form-control-btn {
    width: 100%; }
  .contact-form__btn {
    max-width: 360px;
    margin: 0 auto; }
  .form-control-agreement-1 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
  .btn-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%; }
  .form-control-btn {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .form-control-agreement-2 {
    display: none; }
  .benefit {
    min-height: 130px;
    padding-right: 15px;
    padding-left: 80px; }
    .benefit:before {
      width: 60px; }
  .price-text {
    font-size: 24px; }
  .item-price {
    max-width: 160px;
    margin-left: 0; }
  .item-img {
    margin-right: 10px; }
  .item-text {
    font-size: 18px; }
  .amount-img {
    width: 25px; }
  .amount-info {
    font-size: 16px; } }

@media (max-width: 768px) {
  .intro__top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .intro__title {
    text-align: center; }
  .intro__text {
    display: block;
    text-align: center;
    margin-bottom: 20px; }
  .intro__phone {
    -ms-flex-align: center;
        align-items: center; }
  .intro__phone-text {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 14px;
    margin-bottom: 5px; }
  .intro__phone-number {
    text-align: center;
    font-weight: 900;
    font-size: 32px; }
  .intro__bottom {
    padding-top: 45px; }
  .form-input-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 0; }
  .form-text {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 25px; }
  .form-control-area {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
    max-width: 360px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .intro__offer-content {
    width: 100%; }
  .form-control-agreement-1 {
    max-width: 360px;
    margin: 0 auto; }
  .section__title {
    font-size: 38px; }
    .section__title span {
      padding-left: 60px;
      padding-right: 60px; }
      .section__title span:before, .section__title span:after {
        width: 50px;
        height: 50px;
        background-position: center;
        background-size: cover;
        bottom: -3px; }
  .section__inner {
    padding-top: 40px; }
  .benefit {
    min-height: 75px;
    padding-left: 60px; }
    .benefit:before {
      width: 45px;
      height: 45px; }
  .benefit__title {
    font-size: 26px; }
  .benefit__text {
    font-size: 18px; }
  .benefit {
    width: 100%; }
  .section__inner--price {
    padding-top: 0; }
  .item-img {
    margin-right: 0; }
  .item-link {
    font-size: 18px; }
  .item-text {
    font-size: 16px; }
  .item-price {
    max-width: 150px;
    padding: 10px; }
  .amount-info {
    padding-top: 12px; }
  .form-price .form-control-area {
    width: 100%; }
  .form-price .form-content {
    margin-bottom: 25px; }
  .form-text--price {
    font-size: 26px;
    margin-bottom: 20px; } }

@media (max-width: 620px) {
  .item-price {
    max-width: 100px; } }

@media (max-width: 480px) {
  .intro__top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .intro__phone-number {
    padding-left: 35px; }
    .intro__phone-number:before {
      width: 24px;
      height: 24px; }
  .intro__bottom {
    padding-top: 40px; }
  .intro__offer-content {
    width: 100%;
    padding: 15px; }
  .offer-text {
    font-size: 38px; }
  .offer-list {
    padding-left: 0; }
  .offer-item {
    font-size: 24px; }
  .contact-form {
    -ms-flex-direction: column;
        flex-direction: column; }
  .form-input-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
    margin-bottom: 10px; }
  .form-control-area {
    margin-right: 0;
    margin-bottom: 10px; }
  label {
    font-size: 18px; }
  .form-control-btn {
    width: 100%; }
  .contact-form__btn {
    font-size: 20px; }
  .section__tile--benefits {
    margin-bottom: 30px; }
  .section__title {
    font-size: 32px; }
    .section__title span {
      padding-left: 30px;
      padding-right: 30px; }
      .section__title span:before, .section__title span:after {
        width: 20px;
        height: 20px;
        background-position: center;
        background-size: auto;
        bottom: 8px; }
  .section__inner {
    padding-top: 30px; }
  .benefit {
    padding-left: 55px; }
    .benefit:before {
      width: 40px;
      height: 40px; }
  .benefit__title {
    font-size: 24px; }
  .benefit__text {
    font-size: 18px; }
  .section__inner--price {
    padding-top: 0; }
  .item-info {
    -ms-flex-direction: column;
        flex-direction: column; }
  .item-link {
    font-size: 16px; }
  .item-price {
    max-width: 95px; }
  .price-text {
    text-align: center; }
  .price__title {
    font-size: 26px; } }
