@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensans.woff2"), url("../../fonts/opensans.woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensansbold.woff2"), url("../../fonts/opensansbold.woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensanslight.woff2"), url("../../fonts/opensanslight.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensans-semibold.woff2"), url("../../fonts/opensans-semibold.woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Light.woff2"), url("../../fonts/Roboto-Light.woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Regular.woff2"), url("../../fonts/Roboto-Regular.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto-Bold.woff2"), url("../../fonts/Roboto-Bold.woff");
  font-weight: 700;
  font-style: normal; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

body {
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 500;
  color: #282828; }

h1, h2, h3, h4, h5 {
  margin: 0;
  font-weight: 400; }

img {
  width: 100%;
  height: auto;
  border: none; }

.section-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .section-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .section-inner {
      max-width: 1200px; } }

.section-title {
  font-size: 28px;
  font-weight: 600;
  font-family: 'Roboto', 'Arial', sans-serif; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.btn {
  border: none;
  cursor: pointer;
  background: #ffdc7d;
  text-align: center;
  line-height: 39px;
  border-radius: 4px;
  padding: 10px 14px;
  width: 100%;
  white-space: nowrap;
  text-decoration: none;
  color: #282828;
  font-size: 18px;
  font-weight: 600;
  box-sizing: border-box;
  transition: all .3s ease; }
  .btn:hover {
    background: #FFBA00; }

.btn-request {
  max-width: 240px;
  padding: 5px 10px; }

.intro {
  padding-top: 86px; }

.intro-top {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.95);
  z-index: 10; }

.intro-top-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }
  @media (min-width: 768px) {
    .intro-top-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .intro-top-inner {
      max-width: 1200px; } }

.logo-wrap {
  margin-right: 15px; }

.logo {
  width: 120px;
  height: auto; }

.intro-bottom {
  background-color: #abbee9;
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }
  .intro-bottom::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(75, 155, 221, 0.6); }

.intro-bottom-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  min-height: 600px;
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px; }
  @media (min-width: 768px) {
    .intro-bottom-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .intro-bottom-inner {
      max-width: 1200px; } }

.intro-bottom-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.intro-bottom-content-top {
  width: 60%;
  min-height: 380px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end; }

.title--intro {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 52px;
  font-weight: 400;
  color: #FFBA00;
  position: relative;
  margin-bottom: 55px;
  width: 100%; }

.text--intro {
  width: 80%;
  padding-left: 125px;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: #fff;
  min-height: 215px;
  margin-bottom: 35px;
  position: relative; }
  .text--intro::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(../img/idea.svg);
    background-repeat: no-repeat;
    background-size: cover; }

@keyframes arrow {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.text-with-arrow {
  position: relative;
  display: block;
  color: #fff;
  font-size: 22px;
  font-weight: 500; }
  .text-with-arrow::after {
    position: absolute;
    right: 10px;
    top: -130px;
    content: '';
    display: block;
    width: 120px;
    height: 120px;
    background-image: url(../img/share.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    animation: arrow 1.5s infinite linear; }

.phone-block {
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 40px; }

.phone-block-text {
  font-size: 22px;
  font-weight: 500; }

.phone-number {
  font-size: 30px;
  font-weight: 600;
  color: #FFBA00;
  display: block;
  position: relative;
  padding-left: 30px;
  text-decoration: underline; }
  .phone-number::before {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/call.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }

.main-nav {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-item-align: center;
      align-self: center; }

.main-nav-toggle {
  display: none; }

.btn-toggle {
  display: none;
  padding: 0px 14px; }

.nav-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.nav-item:hover .nav-item__link::after, .nav-item--active .nav-item__link::after {
  left: 0;
  right: 0; }

.nav-item__link {
  color: #282828;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  position: relative; }
  .nav-item__link::after {
    transition: all .3s ease;
    position: absolute;
    content: '';
    display: block;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    background-color: #f9c872; }

.request-block {
  display: block;
  width: 100%;
  min-width: 290px;
  max-width: 440px;
  padding: 25px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  -ms-flex-item-align: end;
      align-self: flex-end; }

.request-block-header {
  color: #fff; }
  .request-block-header span {
    display: block; }

.request-block-header-top {
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px; }

.request-block-header-bottom {
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px; }

.form-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.phone-input,
.email-input,
.company-input,
.name-input,
.address-input {
  font-size: 17px;
  padding: 10px 15px;
  margin-bottom: 15px;
  color: #fff;
  border: 1px solid #ffdc7d;
  border-radius: 4px;
  background-color: transparent; }
  .phone-input:hover,
  .email-input:hover,
  .company-input:hover,
  .name-input:hover,
  .address-input:hover {
    border-color: #FFBA00; }

.address-label {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  display: block;
  margin-bottom: 15px; }

::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.8; }

::-moz-placeholder {
  color: #fff;
  opacity: 0.8; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #fff;
  opacity: 0.8; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #fff;
  opacity: 0.8; }

.agree {
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 15px; }

.mob-company {
  border-top: 15px solid rgba(255, 186, 0, 0.7);
  border-top-style: dashed; }

.mob-company-top-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 45px;
  background-image: url(../img/mob-pred2.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover;
  border-bottom: 1px solid rgba(40, 40, 40, 0.2); }
  @media (min-width: 768px) {
    .mob-company-top-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .mob-company-top-inner {
      max-width: 1200px; } }

.mob-company-top-content {
  width: 40%;
  padding-top: 20px; }

.mob-company-top-text {
  min-height: 110px;
  font-size: 18px;
  font-weight: 500; }

.mob-company-middle-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .mob-company-middle-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .mob-company-middle-inner {
      max-width: 1200px; } }

.mob-company-middle-head {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  margin-bottom: 35px;
  font-family: 'Roboto', 'Arial', sans-serif; }

.mob-company-services {
  padding-left: 25px;
  padding-right: 25px; }

.mob-company-service-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 230px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin: 0 auto; }

.service-img {
  width: 106px;
  height: 81px;
  margin-bottom: 15px; }

.service-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  min-height: 42px; }

.service-text {
  font-size: 16px;
  color: rgba(40, 40, 40, 0.8); }

.mob-connection {
  border-top: 15px solid rgba(255, 186, 0, 0.7);
  border-top-style: dashed; }

.mob-connection-top-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url(../img/mob-connect.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
  border-bottom: 1px solid rgba(40, 40, 40, 0.2); }
  @media (min-width: 768px) {
    .mob-connection-top-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .mob-connection-top-inner {
      max-width: 1200px; } }

.mob-connection-top-content {
  width: 40%;
  padding-top: 20px;
  margin-left: auto;
  text-align: right; }

.mob-connection-top-text {
  min-height: 110px;
  font-size: 18px;
  font-weight: 500; }

.mob-connection-bottom-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .mob-connection-bottom-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .mob-connection-bottom-inner {
      max-width: 1200px; } }

.mob-connection-bottom-head {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  margin-bottom: 35px;
  font-family: 'Roboto', 'Arial', sans-serif; }

.mob-connection-tariff-cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.mob-connection-tariff-card {
  width: 230px;
  min-width: 230px;
  display: block;
  padding: 25px 15px;
  box-sizing: border-box;
  background-color: rgba(171, 190, 233, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer; }
  .mob-connection-tariff-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.mob-connection-tariff-title {
  font-size: 19px;
  font-weight: 600;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.5);
          text-decoration-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  font-family: 'Roboto', 'Arial', sans-serif; }

.mob-connection-tariff-text {
  display: block;
  margin-bottom: 5px;
  font-size: 16px; }
  .mob-connection-tariff-text:last-child {
    margin-bottom: 30px; }

.mob-connection-tariff-text-block {
  display: block;
  position: relative;
  padding-top: 65px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .mob-connection-tariff-text-block::before {
    position: absolute;
    top: 0;
    content: '';
    display: block;
    width: 70px;
    height: 50px;
    background-image: url(../img/your_number.svg);
    background-repeat: no-repeat;
    background-position: center; }

.mob-connection-tariff-price {
  display: block;
  margin-bottom: 35px; }

.mob-cloud {
  border-top: 15px solid rgba(255, 186, 0, 0.7);
  border-top-style: dashed; }

.mob-cloud-top {
  background-image: url(../img/bg-3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .mob-cloud-top::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(76, 171, 239, 0.85), rgba(76, 171, 239, 0.2)); }

.mob-cloud-top-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  position: relative;
  padding-top: 50px;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 400px auto;
  min-height: 540px; }
  @media (min-width: 768px) {
    .mob-cloud-top-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .mob-cloud-top-inner {
      max-width: 1200px; } }

.mob-cloud-top-content {
  width: 40%;
  padding-top: 50px; }

.mob-cloud-top-text {
  min-height: 175px;
  font-size: 18px;
  font-weight: 500; }

.mob-cloud-advantage-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .mob-cloud-advantage-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .mob-cloud-advantage-inner {
      max-width: 1200px; } }

.mob-cloud-advantage-head {
  display: block;
  text-align: center;
  font-size: 26px;
  margin-bottom: 35px;
  font-family: 'Roboto', 'Arial', sans-serif; }
  .mob-cloud-advantage-head-top {
    display: block;
    margin-bottom: 10px; }
  .mob-cloud-advantage-head-bottom {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Open Sans', 'Arial', sans-serif;
    width: 60%;
    margin: 0 auto; }

.advantage-img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px; }

.mob-cloud-advantages {
  padding-left: 25px;
  padding-right: 25px; }

.mob-cloud-advantage-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 220px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin: 0 auto; }

.service-img {
  width: 106px;
  height: 81px;
  margin-bottom: 15px; }

.service-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  min-height: 42px; }

.service-text {
  font-size: 16px;
  color: rgba(40, 40, 40, 0.8); }

.mob-cloud-tariff-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .mob-cloud-tariff-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .mob-cloud-tariff-inner {
      max-width: 1200px; } }

.mob-cloud-tariff-head {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  margin-bottom: 35px;
  font-family: 'Roboto', 'Arial', sans-serif; }

.mob-cloud-tariff-card {
  width: 285px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(171, 190, 233, 0.2);
  margin-right: 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .mob-cloud-tariff-card:last-child {
    margin-right: 0; }

.mob-cloud-tariff-card-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center; }

.mob-cloud-tariff-card-head,
.mob-cloud-tariff-card-block,
.mob-cloud-tariff-card-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.mob-cloud-tariff-card-block {
  padding-bottom: 15px; }

.mob-cloud-tariff-card-footer {
  text-align: center;
  border-bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.mob-cloud-tariff-title {
  margin-bottom: 15px;
  font-weight: 600;
  font-family: 'Roboto', 'Arial', sans-serif; }

.mob-cloud-tariff-price {
  margin-bottom: 15px; }

.btn--mob-cloud {
  margin: 0 auto; }

.mob-cloud-tariff-cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.mob-cloud-tariff-card-block-name {
  display: block;
  margin-bottom: 15px;
  opacity: 0.8;
  font-size: 16px; }

.mob-cloud-tariff-card-text-block {
  margin-bottom: 17px; }
  .mob-cloud-tariff-card-text-block--number {
    text-align: center; }
    .mob-cloud-tariff-card-text-block--number .mob-cloud-tariff-text {
      font-size: 95px;
      line-height: 1; }
      .mob-cloud-tariff-card-text-block--number .mob-cloud-tariff-text:last-child {
        font-size: 18px; }

.mob-cloud-tariff-text {
  display: block;
  font-size: 16px; }
  .mob-cloud-tariff-text:last-child {
    font-size: 18px;
    font-weight: 600; }

.mob-cloud-tariff-price {
  display: block; }

.number8800 {
  border-top: 15px solid rgba(255, 186, 0, 0.7);
  border-top-style: dashed; }

.number8800-top {
  position: relative; }
  .number8800-top::before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.number8800-top-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(../img/8800-7.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .number8800-top-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .number8800-top-inner {
      max-width: 1200px; } }

.number8800-top-content {
  width: 40%;
  padding-top: 20px; }

.number8800-top-text {
  min-height: 120px;
  font-size: 18px;
  font-weight: 500; }

.number8800-advantage-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .number8800-advantage-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .number8800-advantage-inner {
      max-width: 1200px; } }

.number8800-advantage-head {
  display: block;
  text-align: center;
  font-size: 26px;
  margin-bottom: 35px;
  font-family: 'Roboto', 'Arial', sans-serif; }
  .number8800-advantage-head-top {
    display: block;
    margin-bottom: 10px; }
  .number8800-advantage-head-bottom {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Open Sans', 'Arial', sans-serif;
    width: 60%;
    margin: 0 auto; }

.advantage-img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px; }

.number8800-advantages {
  padding-left: 25px;
  padding-right: 25px; }

.number8800-advantage-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 220px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin: 0 auto; }

.service-img {
  width: 106px;
  height: 81px;
  margin-bottom: 15px; }

.service-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  min-height: 42px; }

.service-text {
  font-size: 16px;
  color: rgba(40, 40, 40, 0.8); }

.number8800-tariff {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.number8800-tariff-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 0;
  padding-right: 0; }
  @media (min-width: 768px) {
    .number8800-tariff-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .number8800-tariff-inner {
      max-width: 1200px; } }

.number8800-tariff-head {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  margin-bottom: 35px;
  font-family: 'Roboto', 'Arial', sans-serif; }

.number8800-tariff-card {
  width: 285px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(171, 190, 233, 0.2);
  margin-right: 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }
  .number8800-tariff-card:last-child {
    margin-right: 0; }

.number8800-tariff-card-head {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center; }

.number8800-tariff-card-head,
.number8800-tariff-card-block,
.number8800-tariff-card-footer {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.number8800-tariff-card-block {
  padding-bottom: 15px; }

.number8800-tariff-card-footer {
  text-align: center;
  border-bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding-top: 25px; }

.number8800-tariff-title {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
  font-family: 'Roboto', 'Arial', sans-serif; }

.number8800-tariff-price {
  margin-bottom: 15px; }

.btn--number8800 {
  margin: 0 auto; }

.number8800-tariff-cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.number8800-tariff-card-block-name {
  display: block;
  margin-bottom: 15px;
  opacity: 0.8;
  font-size: 16px; }

.number8800-tariff-card-text-block {
  margin-bottom: 17px; }
  .number8800-tariff-card-text-block--number {
    text-align: center; }
    .number8800-tariff-card-text-block--number .number8800-tariff-text {
      font-size: 95px;
      line-height: 1; }
      .number8800-tariff-card-text-block--number .number8800-tariff-text:last-child {
        font-size: 18px; }

.number8800-tariff-text {
  display: block;
  font-size: 15px;
  margin-bottom: 5px; }
  .number8800-tariff-text:last-child {
    font-size: 18px;
    font-weight: 600; }

.number8800-tariff-price {
  display: block; }

.office {
  border-top: 15px solid rgba(255, 186, 0, 0.7);
  border-top-style: dashed; }

.office-top-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 45px;
  background-image: url(../img/int.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  border-bottom: 1px solid rgba(40, 40, 40, 0.2); }
  @media (min-width: 768px) {
    .office-top-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .office-top-inner {
      max-width: 1200px; } }

.office-top-content {
  width: 40%;
  padding-top: 20px; }

.office-top-text {
  min-height: 110px;
  font-size: 18px;
  font-weight: 500; }

.office-advantage {
  text-align: center; }

.office-advantage-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  @media (min-width: 768px) {
    .office-advantage-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .office-advantage-inner {
      max-width: 1200px; } }

.office-advantage-head {
  display: block;
  text-align: center;
  font-size: 26px;
  margin-bottom: 35px;
  font-family: 'Roboto', 'Arial', sans-serif; }
  .office-advantage-head-top {
    display: block;
    margin-bottom: 10px; }
  .office-advantage-head-bottom {
    display: block;
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Open Sans', 'Arial', sans-serif;
    width: 60%;
    margin: 0 auto; }

.advantage-img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 20px; }

.office-advantages {
  padding-left: 25px;
  padding-right: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.office-advantage-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin: 0 auto; }

.service-img {
  width: 106px;
  height: 81px;
  margin-bottom: 15px; }

.service-header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  min-height: 42px; }

.service-text {
  font-size: 16px;
  color: rgba(40, 40, 40, 0.8); }

.office-bottom-inner {
  min-width: 290px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 35px; }
  @media (min-width: 768px) {
    .office-bottom-inner {
      min-width: 660px; } }
  @media (min-width: 1200px) {
    .office-bottom-inner {
      max-width: 1200px; } }

.office-bottom-head {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 26px;
  margin-bottom: 35px;
  font-family: 'Roboto', 'Arial', sans-serif; }

.office-tariff-cards {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.office-tariff-card {
  width: 260px;
  min-width: 230px;
  display: block;
  padding: 25px;
  box-sizing: border-box;
  background-color: rgba(171, 190, 233, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer; }
  .office-tariff-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.office-tariff-title {
  font-size: 19px;
  font-weight: 600;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.5);
          text-decoration-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  font-family: 'Roboto', 'Arial', sans-serif;
  position: relative;
  padding-bottom: 70px; }
  .office-tariff-title:after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    width: 70px;
    height: 50px;
    background-image: url(../img/internet.svg);
    background-repeat: no-repeat;
    background-position: center; }

.office-tariff-price {
  display: block;
  margin-bottom: 35px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 0; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: 0; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -50px;
  left: 0;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 10px;
      width: 10px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          color: #FFBA00;
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 10px;
        height: 10px;
        font-family: "slick";
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #FFBA00;
      opacity: 0.75; }

.slick-prev:before, .slick-next:before {
  color: #FFBA00;
  font-size: 25px; }

@media (max-width: 1200px) {
  .intro-top-inner {
    padding-top: 10px;
    padding-bottom: 10px; }
  .intro-bottom-content-top {
    width: 50%; }
  .title--intro {
    line-height: 1.1;
    margin-bottom: 20px; }
  .text--intro {
    line-height: 1.2;
    font-size: 22px; }
  .main-nav-toggle {
    display: block;
    margin-left: auto; }
  .btn-toggle {
    display: block; }
  .nav-list {
    display: none; }
  .mob-company-top-inner {
    background-image: url(../img/mob-pred992.png); }
  .mob-connection-tariff-cards {
    margin: 0 auto;
    width: 75%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center; }
  .mob-connection-tariff-card {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px; }
  .mob-cloud-tariff-cards {
    margin: 0 auto;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .mob-cloud-tariff-card {
    width: 45%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px; }
    .mob-cloud-tariff-card:last-child {
      margin-right: 5px; } }

@media (max-width: 992px) {
  .intro-bottom-inner {
    padding-top: 15px;
    padding-bottom: 15px; }
  .intro-bottom-content-top {
    width: 50%;
    margin-right: 10px; }
  .title--intro {
    line-height: 1.1;
    text-align: center; }
  .text--intro {
    font-size: 22px;
    line-height: 1.1;
    min-height: 180px;
    margin-bottom: 25px;
    width: auto;
    padding-left: 0;
    padding-top: 80px;
    text-align: center; }
    .text--intro::before {
      width: 70px;
      height: 70px;
      top: 0;
      left: 50%;
      margin-left: -35px; }
  .mob-company-top-inner {
    background-position: center bottom; }
  .phone-block {
    margin-bottom: 90px; }
  .mob-connection-bottom-head {
    width: 100%; }
  .mob-connection-top-inner {
    background-image: url(../img/mob-connect2.png); }
  .mob-cloud-tariff-card {
    min-width: 280px;
    margin-bottom: 20px; }
  .mob-cloud-advantage-head-bottom {
    width: 100%; }
  .number8800-tariff-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center; }
  .number8800-tariff-card {
    margin-bottom: 15px;
    width: 45%;
    margin-left: 15px;
    margin-right: 15px; } }

@media (max-width: 768px) {
  .mob-company-top-inner {
    background-image: url(../img/mob-pred768.png);
    background-position: right bottom; }
  .mob-company-middle-head {
    width: 100%; }
  .title--intro {
    font-size: 44px; }
  .intro-bottom-content {
    -ms-flex-direction: column;
        flex-direction: column; }
  .intro-bottom-content-top {
    width: 100%;
    margin-right: 0; }
  .text--intro {
    min-height: 80px; }
  .phone-block {
    display: block;
    width: auto;
    margin: 0 auto;
    margin-bottom: 15px; }
  .text-with-arrow {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 45px; }
    .text-with-arrow::after {
      width: 30px;
      height: 30px;
      background-image: url(../img/arrow-down.svg);
      transform: rotate(0deg);
      top: auto;
      bottom: -35px;
      right: 50%;
      margin-right: -15px; }
  .mob-connection-tariff-cards {
    width: 100%; }
  .mob-connection-tariff-card {
    margin-left: 5px;
    margin-right: 5px; }
  .mob-connection-top-text {
    min-height: 100px; }
  .mob-cloud-tariff-inner {
    padding-top: 25px; }
  .mob-cloud-tariff-head {
    width: 100%;
    margin-bottom: 15px; }
  .mob-cloud-tariff-card {
    min-width: 280px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px; }
    .mob-cloud-tariff-card:nth-child(2n) {
      margin-right: 2px; }
  .mob-cloud-tariff-title {
    font-size: 20px; } }

@media (max-width: 620px) {
  .mob-company-service-content {
    text-align: center; }
  .service-img {
    margin: 0 auto;
    margin-bottom: 15px; }
  .title--intro {
    font-size: 40px; }
  .mob-company-top-inner {
    padding-bottom: 360px;
    background-image: url(../img/mob-pred620.png);
    background-size: contain;
    background-position: center bottom; }
  .mob-company-top-content {
    width: 100%;
    text-align: center;
    padding-top: 0; }
  .mob-company-top-text {
    min-height: 55px; }
  .mob-connection-top-inner {
    background-image: url(../img/mob-connect2.png);
    background-size: 400px auto;
    padding-bottom: 350px;
    background-position: center bottom; }
  .mob-connection-top-content {
    width: 100%;
    text-align: center; }
  .mob-connection-top-text {
    min-height: 55px; }
  .mob-cloud-advantage-content {
    text-align: center; }
  .advantage-img {
    margin: 0 auto; }
  .mob-cloud-tariff-inner {
    padding-left: 10px;
    padding-right: 10px; }
  .mob-cloud-top-inner {
    min-height: 300px;
    padding-top: 25px; }
  .mob-cloud-top-content {
    width: 100%;
    text-align: center;
    padding-top: 25px; }
  .mob-cloud-top-text {
    min-height: 55px; }
  .mob-cloud-tariff-card {
    width: 280px; }
  .number8800-tariff-card {
    width: 80%; }
  .number8800-top-content {
    width: 100%;
    text-align: center;
    padding-top: 0; }
  .number8800-top-text {
    min-height: 55px; }
  .number8800-top-inner {
    padding-bottom: 265px;
    background-position: center bottom; }
  .number8800-advantage-head-bottom {
    width: 100%; }
  .number8800-tariff-head {
    width: 100%; } }

@media (max-width: 480px) {
  .mob-company-middle-head {
    font-size: 22px; }
  .mob-company-top-inner {
    padding-bottom: 220px; }
  .phone-block-text {
    font-size: 20px; }
  .mob-connection-top-inner {
    background-image: url(../img/mob-connect2.png);
    background-size: 350px auto;
    padding-bottom: 300px;
    background-position: center bottom; }
  .mob-cloud-top-inner {
    padding-top: 45px; }
  .mob-cloud-top-content {
    padding-top: 0; }
  .number8800-top-inner {
    padding-bottom: 240px; } }

@media (max-width: 320px) {
  .title--intro {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 15px; }
  .text--intro {
    font-size: 20px;
    padding-top: 60px; }
    .text--intro::before {
      width: 55px;
      height: 55px; }
  .phone-block {
    text-align: center; }
  .phone-block-text {
    font-size: 18px; }
  .phone-number {
    font-size: 28px; }
  .text-with-arrow {
    font-size: 18px; }
  .mob-company-top-inner {
    padding-bottom: 200px; }
  .request-block-header-top {
    font-size: 26px;
    margin-bottom: 10px; }
  .request-block {
    padding-left: 10px;
    padding-right: 10px; }
  .mob-connection-top-inner {
    background-image: url(../img/mob-2-320.png);
    background-size: 320px auto;
    padding-bottom: 250px; }
  .mob-cloud-top-inner {
    padding-top: 25px; }
  .number8800-top-inner {
    padding-bottom: 190px; } }
