article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensans.woff2"), url("../../fonts/opensans.woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensansbold.woff2"), url("../../fonts/opensansbold.woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensanslight.woff2"), url("../../fonts/opensanslight.woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("../../fonts/opensans-semibold.woff2"), url("../../fonts/opensans-semibold.woff");
  font-weight: 600;
  font-style: normal; }

body {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Open Sans', 'Arial', sans-serif; }

img {
  max-width: 100%;
  height: auto;
  border: none; }

.section-inner {
  min-width: 280px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px; }
  @media (min-width: 768px) {
    .section-inner {
      min-width: 660px; } }
  @media (min-width: 992px) {
    .section-inner {
      min-width: 960px; } }
  @media (min-width: 1200px) {
    .section-inner {
      width: 1200px; } }

.section-title {
  font-size: 33px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: 0.6px;
  margin: 0;
  text-align: center;
  margin-bottom: 45px; }

.section-text {
  letter-spacing: 0.4px; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.intro {
  background-color: #2a3352;
  background-image: url(../img/bg-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  box-shadow: 0 5px 10px #858585; }
  .intro:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(85, 65, 25, 0.5); }

.section-inner--intro {
  position: relative;
  padding-bottom: 100px; }

.intro-top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-bottom: 45px;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.logo {
  display: block;
  width: 140px;
  height: 40px; }

.phone-block {
  padding-top: 5px; }

.phone-connect-text,
.phone-connect-number,
.phone-support-text,
.phone-support-number {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1; }

.phone-connect-text,
.phone-support-text {
  opacity: 0.6; }

.phone-connect-number,
.phone-support-number {
  font-size: 21px;
  font-weight: 500;
  color: #fcdb2a;
  text-decoration: none;
  transition: all .3s ease; }
  .phone-connect-number:hover,
  .phone-support-number:hover {
    transition: all .3s ease;
    color: #1eb3d9;
    text-decoration: underline; }

.page-title {
  font-size: 34px;
  font-weight: 300;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 15px;
  width: 52%; }

.intro-text {
  margin-bottom: 30px; }

.intro-text-top {
  display: block;
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative; }
  .intro-text-top::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff; }
  .intro-text-top::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 8px;
    display: block;
    width: 10px;
    height: 10px;
    background-image: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box; }

.intro-text-bottom {
  font-size: 34px;
  line-height: 1.3; }

.main-nav {
  width: 70%; }

.toggle-text {
  position: relative;
  padding-right: 18px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease; }
  .toggle-text::after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 2px;
    right: 0;
    background-image: url(../img/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(180deg);
    transition: all .3s ease; }

.main-nav-toggle {
  display: none;
  transition: all .3s ease; }
  .main-nav-toggle:hover .toggle-text {
    color: #fcdb2a; }
    .main-nav-toggle:hover .toggle-text::after {
      background-image: url(../img/menu-2.png); }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.submenu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  width: 110px;
  position: absolute;
  padding-top: 95px;
  transition: all .3s ease; }

.submenu-item {
  padding-bottom: 10px; }

.submenu-item__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
  transition: all .3s ease; }
  .submenu-item__link::after {
    transition: all .3s ease;
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fcdb2a; }

.nav-item__link {
  position: relative;
  padding-bottom: 6px;
  transition: all .3s ease; }
  .nav-item__link::after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #fcdb2a;
    opacity: 0;
    transition: all .3s ease; }

.nav-item {
  padding: 5px;
  transition: all .3s ease; }
  .nav-item:hover .nav-item__link::after {
    opacity: 1; }

.nav-item--tariffes {
  position: relative;
  transition: all .3s ease; }
  .nav-item--tariffes:hover .submenu-list {
    display: block; }
  .nav-item--tariffes:hover .submenu-item {
    transition: all .3s ease; }
    .nav-item--tariffes:hover .submenu-item:hover .submenu-item__link::after {
      opacity: 1; }

.nav-item__link {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  transition: all .3s ease; }

.forms-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative; }

.request {
  background-color: #fff;
  width: 450px; }

.request-form {
  padding: 35px;
  color: #000;
  box-sizing: border-box;
  text-align: center; }

.request-text {
  display: block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px; }

.agree-label {
  font-size: 14px; }

.our-manager {
  display: block;
  margin-bottom: 20px;
  font-size: 15px; }

.form-area {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 10px; }

.phone-input {
  width: 50%;
  margin-right: 10px;
  font-size: 15px;
  padding: 15px 15px;
  border-radius: 3px;
  border: 1px solid #c4c1c1;
  box-sizing: border-box;
  transition: all .3s ease; }
  .phone-input:hover {
    border-color: #1A1A1A; }

.request-form-btn {
  width: 50%;
  background-color: #fcdb2a;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  padding: 15px 5px;
  border-radius: 3px;
  transition: all .3s ease;
  box-sizing: border-box; }
  .request-form-btn:hover {
    background-color: #FFE355;
    box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.23); }

.anti-spam {
  display: block;
  font-size: 11px;
  margin-bottom: 20px; }

.agree-link {
  font-size: 16px; }

.message {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 280px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px; }

.message-form-header {
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #09f4f8;
  border-radius: 4px;
  font-weight: 400;
  color: #000;
  text-align: center;
  cursor: pointer; }

.message-text {
  padding-left: 50px;
  position: relative; }
  .message-text:before {
    content: '';
    position: absolute;
    display: block;
    top: -6px;
    left: 0;
    width: 36px;
    height: 36px;
    background-image: url(../img/speech-bubbles.png);
    background-repeat: no-repeat;
    background-position: center; }

.message-form {
  padding: 8px;
  display: none; }

.message-control,
.message-control-text {
  font-size: 14px;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #c4c1c1; }

.message-form-btn {
  font-size: 14px;
  padding: 6px;
  text-align: right;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #c4c1c1; }

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 10px; }

.features-blocks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.features-block {
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

.features-block-header {
  display: block;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 35px; }

.features-item {
  display: block;
  padding-left: 45px;
  position: relative;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px; }
  .features-item::before {
    content: '';
    position: absolute;
    display: block;
    width: 28px;
    height: 28px;
    background-image: url(../img/icon-mark.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0; }

.btn-to-connect {
  display: block;
  width: 240px;
  height: 65px;
  border: 0;
  padding: 0;
  border-radius: 50px;
  color: #000;
  font-weight: 600;
  background: #fad485;
  box-shadow: 0 3px 0 0 #ebb16f, 0 4px 0 0 #d99a59, 0 4px 8px 0 rgba(102, 55, 0, 0.4);
  border-bottom: 4px solid #d2a971;
  transition: all .3s ease;
  outline: none; }
  .btn-to-connect:hover {
    background-image: linear-gradient(180deg, #fbcd6f, #f6c165); }
  .btn-to-connect:active {
    transform: translateY(2px);
    box-shadow: 0 1px 0 0 #ebb16f, 0 2px 0 0 #d99a59, 0 2px 4px 0 rgba(102, 55, 0, 0.4); }

.section-title--tariffes {
  font-size: 46px; }

.tariffes {
  background-color: #f3f3f3; }

table {
  width: 100%;
  margin-bottom: 20px; }
  table:last-child {
    margin-bottom: 0; }
  table strong {
    font-size: 22px;
    font-weight: 600; }

caption {
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
  color: #8e898d;
  padding: 5px 15px; }

tr {
  display: row;
  box-sizing: border-box; }

td {
  width: 17%;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  padding: 15px;
  box-sizing: border-box;
  line-height: 1.2; }
  td:first-child {
    width: 260px;
    text-align: left; }

.cell--wi-fi {
  width: 10%;
  font-size: 14px;
  text-align: left; }

.cell--btn {
  text-align: center; }

.cell-title {
  vertical-align: top;
  line-height: 1.3;
  margin: 0; }

.cell-title__link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #5a5a5a;
  transition: all .3s ease;
  font-weight: 500; }
  .cell-title__link:hover {
    color: #e09a20;
    border-bottom: 1px solid #e09a20; }

.cell-text--no-wi-fi,
.cell-text--no-channels {
  color: #787878;
  font-size: 16px; }

.cell--tv {
  text-align: left; }

.cell-text--tv {
  font-size: 16px; }

.tooltip {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background-image: url(../img/help.png);
  background-size: cover;
  background-position: center;
  cursor: pointer; }
  .tooltip span {
    position: absolute;
    top: -115px;
    left: -85px;
    display: none;
    width: 200px;
    padding: 15px;
    background-color: #fff;
    color: #000;
    line-height: 1.4;
    font-size: 13px;
    box-sizing: border-box;
    transition: all .3s ease; }
  .tooltip:hover span {
    display: block; }

.cell-text__link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px dashed #5a5a5a;
  transition: all .3s ease; }
  .cell-text__link:hover {
    color: #e09a20;
    border-bottom: 1px dashed #e09a20; }

.btn-to-connect--table {
  width: 140px;
  height: 45px;
  font-size: 14px;
  margin: 0 auto; }

.about-tariffes {
  background-color: #d2cdc9;
  background-image: url(../img/family2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  min-height: 700px; }

.section-inner--about-tariffes {
  display: -ms-flexbox;
  display: flex;
  min-height: 700px; }

.section-title--about-tariffes {
  text-align: left;
  font-size: 46px;
  line-height: 4; }

@media (max-width: 1200px) {
  .intro-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 70px; }
  .page-title {
    width: 60%; }
  .logo {
    -ms-flex-order: 0;
        order: 0; }
  .main-nav {
    -ms-flex-order: 2;
        order: 2;
    width: 100%;
    border-top: 1px solid rgba(250, 250, 250, 0.4);
    padding-top: 15px;
    margin-top: 15px;
    position: relative; }
  .main-nav-toggle {
    display: block;
    text-align: right; }
  .nav-list {
    display: none;
    width: 180px;
    padding: 15px;
    -ms-flex-pack: justify;
        justify-content: space-between;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 10; }
  .nav-item__link {
    color: #000; }
  .phone-block {
    padding-top: 0;
    -ms-flex-order: 1;
        order: 1;
    width: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .phone-connect {
    margin-right: 40px; } }

@media (max-width: 992px) {
  .page-title {
    width: 100%;
    max-width: 580px; }
  tbody {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  tr {
    display: block;
    margin-bottom: 20px;
    width: 365px; }
  td {
    width: 100%;
    vertical-align: middle;
    border: 1px solid #b4b4b4;
    border-bottom: 0;
    display: block;
    position: relative;
    padding: 10px 15px;
    padding-left: 40%; }
    td:first-child {
      min-height: 65px;
      width: 100%;
      text-align: center;
      padding-left: 15px; }
    td:last-child {
      border-bottom: 1px solid #b4b4b4; }
    td::before {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      line-height: 24px;
      content: attr(data-label);
      position: absolute;
      left: 0;
      padding-left: 15px; }
  .cell--btn {
    padding-left: 15px; }
  .cell--wi-fi {
    width: 100%;
    text-align: center; }
  .tooltip span {
    left: -135px; }
  .about-tariffes {
    background-image: url(../img/family992.jpg);
    background-position: center; } }

@media (max-width: 768px) {
  .intro-text-bottom {
    display: block;
    max-width: 530px;
    text-align: center;
    margin: 0 auto; }
  .page-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px; }
  .intro-text-top {
    display: block;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 15px; }
  .forms-block {
    padding-bottom: 60px; }
  .message {
    left: 50%;
    margin-left: -140px; }
  .request {
    margin: 0 auto;
    margin-bottom: 15px; }
  .features-blocks {
    -ms-flex-direction: column;
        flex-direction: column; }
  .features-block {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 20px;
    width: 100%; }
    .features-block:last-child {
      margin-bottom: 0; }
  .features-block-header {
    text-align: center;
    width: 100%; }
  tr {
    width: 100%; } }

@media (max-width: 620px) {
  .intro-top {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 20px; }
  .logo {
    margin-bottom: 15px; }
  .phone-block {
    width: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 15px; }
  .phone-connect {
    margin-bottom: 5px; }
  .phone-connect,
  .phone-support {
    margin-right: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center; }
  .main-nav {
    margin-top: 5px; }
  .main-nav-toggle {
    text-align: center; }
  .nav-list {
    right: auto;
    left: 50%;
    margin-left: -90px;
    top: 40px; }
  .nav-item {
    text-align: center; }
    .nav-item--search-city {
      padding: 0; }
  .nav-item__link--search-city {
    padding: 5px 15px;
    border-bottom: 1px solid transparent; }
  .nav-item--tariffes:hover .submenu-list {
    position: relative; }
  .nav-item--tariffes:hover .submenu-item__link {
    background-color: rgba(252, 219, 42, 0.4); }
  .nav-item__link--tariffes {
    border-bottom: 1px solid transparent; }
  .submenu-list {
    position: relative;
    width: 100%;
    display: block; }
  .submenu-item {
    width: 100%; }
    .submenu-item:last-child .submenu-item__link {
      border-bottom: 1px solid transparent; }
    .submenu-item:hover .submenu-item__link {
      background-color: rgba(252, 219, 42, 0.4); }
  .submenu-item__link {
    border: 1px solid transparent;
    border-bottom: 1px solid #fcdb2a;
    background-color: transparent; }
  .about-tariffes {
    background-image: url(../img/family620.jpg); }
  .section-inner--about-tariffes {
    min-height: 570px; } }

@media (max-width: 480px) {
  .form-area {
    -ms-flex-direction: column;
        flex-direction: column; }
  .phone-input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px; }
  .request-form-btn {
    width: 100%; } }

@media (max-width: 320px) {
  .intro-top {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .page-title,
  .intro-text-bottom {
    font-size: 31px; }
  .intro-text-top {
    width: 160px;
    font-size: 16px; }
  .request-form {
    padding: 20px; }
  .phone-connect-number,
  .phone-support-number {
    font-size: 18px; }
  .tooltip span {
    left: -160px; }
  .about-tariffes {
    background-image: url(../img/family320.jpg); } }
